html,
body {
  background-color: #21232a;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  display: grid;
  place-items: center;
}

button {
  font-size: 1.3rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 10px;
}
